<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- 扫描 -->
    <context:component-scan base-package="xyz.wadewhy.*.*.controller"></context:component-scan>
    <context:component-scan base-package="xyz.wadewhy.*.controller"></context:component-scan>
    <!-- 配置适配器和映射器 -->
    <mvc:annotation-driven></mvc:annotation-driven>

<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
 
<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
      depends-on="lifecycleBeanPostProcessor">
    <property name="proxyTargetClass" value="true" />
</bean>
 
<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    <property name="securityManager" ref="securityManager"/>
</bean>

    <mvc:annotation-driven>
        <!-- 消息转换器,解决responseBody返回中外乱码问题 -->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/view/"></property>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!-- 配置文件上传 -->
    <!-- 配置拦截器 -->
    <!-- 配置静态资源放行-->
    <mvc:default-servlet-handler/>
    <!-- 文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传文件大小限制 -->
        <property name="maxUploadSize">
            <value>10485760</value>
        </property>
        <!-- 请求的编码格式, 和 jsp 页面一致 -->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>
    <!-- 后台访问拦截器 -->
    <!--  -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截-->
            <mvc:mapping path="/after/*/*"/>

            <!--放行-->
            <mvc:exclude-mapping path="/after/sys/toLogin.action"/>
            <mvc:exclude-mapping path="/after/login/login.action"/>
            <mvc:exclude-mapping path="/after/login/getCode.action"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <bean class="xyz.wadewhy.after.sys.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
<!--        <mvc:interceptor>
            <mvc:mapping path="/home/user/**"/>
            <mvc:mapping path="/home/Exam/*"/>
            <mvc:exclude-mapping path="/home/user/menu.html"/>
            <mvc:exclude-mapping path="/home/user/head.html"/>
            <bean class="com.ischoolbar.programmer.interceptor.home.LoginInterceptor"></bean>
        </mvc:interceptor>-->
    </mvc:interceptors>
</beans>
